# dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# builds
.next/
frontend/.next/
backend/dist/
build/

# environment files
.env
.env.local
.env.*.local
frontend/.env.local
backend/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system
.DS_Store
Thumbs.db

# deployment
.vercel/

*.mp4
*.mov
*.mkv
*.avi